body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1.text-gold {
    color: gold;
    font-family: 'Helvetica', sans-serif;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn-primary {
    background-color: #ffbc00;
    border-color: #ffbc00;
}

.btn-primary:hover {
    background-color: #e69900;
}

.position-fixed {
    z-index: 1050;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
